# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = juanpablo-nl
	email = juan@northernlabs.ca
[alias]
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	uncommit = reset --soft HEAD~1
	recommit = commit --amend --no-edit
	yolo = push origin --force-with-lease HEAD
	recent = for-each-ref --sort='-authordate:iso8601' --format='%(authordate:relative)%09%(refname:short)%09%(authorname)' refs/heads
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[fetch]
	prune = true
[interactive]
	diffFilter = diff-so-fancy --patch
[init]
	defaultBranch = master
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	new = green bold
	old = red bold
	whitespace = red reverse
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /Users/jamoroso/work/pnc/forte_notifications_svc
